

#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
#MERCADO_PAGO_ACCESS_TOKEN= TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_URL="

# DATABASE_URL="postgresql://brian:CF8bP4dLLD8zbSgDqQIviif2AqrLmNGm@dpg-d0amvdp5pdvs73buk3og-a.virginia-postgres.render.com/consagrados"
MP_ACCESS_TOKEN=
PORT=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
